{
    "singleQuote": true,
    "printWidth": 80, 
    "htmlWhitespaceSensitivity": "ignore",
    "semi": false, 
    "tabWidth": 2,
    "trailingComma": "none", 
    "arrowParens": "avoid", 
    "bracketSpacing": true,
    "jsxBracketSameLine": false, 
    "jsxSingleQuote": true, 
    "proseWrap": "preserve", 
    "endOfLine": "auto" 
}